<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1251">

<title>ansible</title>
</head>
<body bgcolor="black" bgproperties="fixed">
<center>
  <h1><font color=red</font>Hallo Ansible! v1.05</h1>
  <br>
  Hash: {{ hash }}<br>
  Hostname: {{ ansible_hostname }}<br>
  Family: {{ ansible_os_family }}<br>
  <br>
  <img src="deadpool.jpg">
</center>
</body>
</html>
